@import '../../base.css';

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 3rem;
   height: 10vh;
   width: 100%;
   z-index: 999;
}
.header__menu {
   display: none;
}
.header__logo {
   width: 170px;
   height: 110px;
   margin-top:10px;
 

}
.header form {
   flex: 0.6;
   display: flex;
   padding: 0.1rem;
   margin: 0 1rem;
   border-radius: 3px;
  
}
.header form input {
   width: 100%;
   border: none;
   background: transparent;
   padding: 0.3rem;
   border: 1px solid #cccccc;
}
.header form input:focus {
   outline: none;
}
.header form button {
   padding: 0 1.25rem;
   background: transparent;
   border: none;
   border-right:1px solid #cccccc;
   border-bottom:1px solid #cccccc;
   border-top:1px solid #cccccc;
   background-color: #f8f8f8;
}
.header form button:focus {
   border: none;
}
.header__icons {
   flex: 0.15;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.header__icons img {
   border-radius: 50%;
   width: 40px;
   object-fit: contain;
   margin-left: 5px;
}
