@import "../../base.css";



.sidebar {
   display: flex;
   flex-direction: column;
   width: 250px;
   height: 90vh;
   padding-top: 2rem;
   transition: transform 0.2s ease-in;
}
.sidebar li {
   display: flex;
   align-items: center;
   padding: 0.7rem 1.5rem;
  
   cursor: pointer;
}
.sidebar li span {
   margin-left: 1rem;
   font-size: 14px;
   font-weight: 500;
   letter-spacing: 0.4px;
   font-family: sans-serif;
}
.sidebar.open {
   transform: translateX(0);
}
.mdhome
{
   background-color: #e5e5e5;
  
}
.mdhomeicon
{
   color:red;
}
li:hover{
   background-color: #f2f2f2;
}